{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
    <title>Mesh</title>
  </head>
  <body>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="jumbotron col-xs-2 col-sm-10 col-md-9 col-lg-7">
          <h1>Mesh</h1>
          <div class="form-group">
            <input type="text" class="form-control" autofocus="autofocus" onkeypress="search(event, this)" placeholder="Medical search..." id="query">
          </div>
          <div class="btn-green" onclick="send()">Search</div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/index_js.js' %}"></script>
    <script src="{% static 'js/common_js.js' %}"></script>
  </body>
  <footer class="footer footer-default">
  <div class="container container-footer" id="info">
    <nav class="row justify-content-center">
      <div class="col-md-3">
        <ul>
          <h3 class="nav-title">Project</h3>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="https://github.com/czgdp1807/mesh">Contribute</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <h3 class="nav-title">Useful Links</h3>
          <li>
            <a href="https://github.com/czgdp1807/mesh/issues/new" target="_blank">Feedbacks</a>
          </li>
          <li>
            <a href="https://github.com/czgdp1807/mesh/blob/basic_ui/LICENSE" target="_blank">License</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
</html>
